[submodule "ecmc_plugin_socketcan/ecmc_plugin_socketcanApp/src/CANopenNode"]
	path = ecmc_plugin_socketcan/ecmc_plugin_socketcanApp/src/CANopenNode
	url = https://github.com/anderssandstrom/CANopenNode.git
[submodule "ecmc_plugin_socketcan/ecmc_plugin_socketcanApp/src/CANopenSocket"]
	path = ecmc_plugin_socketcan/ecmc_plugin_socketcanApp/src/CANopenSocket
	url = https://github.com/anderssandstrom/CANopenSocket
